body {
    background-color: #222221;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.experience-entry {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3D3936;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px #141414 solid;
    border-radius: 4px;
    line-height: 1.0em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.experience-entry a {
    color: snow;
}

.experience-entry a:hover {
    color: gainsboro
}

.experience-entry a:active {
    color: slategray
}

.experience-entry h2 {
    margin: 0px;
    font-size: 30px;
    text-align: left;
    width: 100%;
}

.experience-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.experience-header-info {
    width: 100%;
    text-align: left;
    float: left;
    font-size: 16px;
    line-height: 1.3em;
    box-sizing: border-box;
}

.experience-info {
    width: 85%;
    text-align: left;
    float: left;
    font-size: 16px;
    line-height: 1.3em;
    box-sizing: border-box;
    margin: -20px 0px 12px 0px;
}

.experience-info a {
    color: black;
}

.experience-info ul {
    list-style-type: disc;
}

.experience-info li {
    margin: 0 0 5px 20px;
}

@media (max-width: 1050px) {
    .experience-info {
        width: 100%;
        float: none;
    }
}

.company-logo {
    alt: "Company Logo";
    align-self: flex-start;
}

.company-logo img {
    alt: "Company Logo";
    max-height: 92px;
    float: right;
}

#navbar {
    background-color: #101110;
    color: #fff;
    position: sticky;
    top: 0;
}

ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover {
    color: gainsboro
}

#navbar a:active {
    color: slategray
}

#showcase {
    background-image: url(../images/bg.jpg);
    background-position: bottom right;
    background-attachment: fixed;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color: #fff;
    font-size: 70px;
    line-height: 1.6em;
    padding-top: 200px;
    margin-bottom: 0px
}

#showcase p {
    color: #fff;
    font-size: 35px;
    line-height: 1.6em;
    padding-top: 0px;
    padding-bottom: 150px;
    margin-top: 0px
}

#experience {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#experience h1 {
    font-size: 40px;
}

#info {
    background: #333333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#info a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#info a:hover {
    color: gainsboro
}

#info a:active {
    color: slategray
}

#footer {
    background: #101110;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 10px;

}
