body{
    background-color: lightgray;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.box-1{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: silver;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px gray solid;
    border-radius: 10px;
    line-height: 1.0em;
    overflow: hidden;
}

.box-1 a{
    color: snow;
}

.box-1 a:hover{
  color: gainsboro
}

.box-1 a:active{
  color: slategray
}

.box-1 h2{
    margin: 0px;
    font-size: 30px;
    text-align: left;
}

.box-2{
    width: 70%;
    text-align: left;
    float: left;
    font-size: 16px;
    line-height: 1.3em;
    box-sizing: border-box;
    margin: 20px 0px;
}

.box-2 a{
    color: black;
}

.box-2 ul{
    list-style-type: disc;
}

.box-2 li{
    margin: 0 0 5px 20px;
}

.box-3{
    width: 150px;
    font-size: 20px;
    font-family: Helvetica, Impact;
    letter-spacing: 3px;
    text-align: center;
    float: right;
    background: #333;
    padding: 20px 10px;
    margin: 10px 5px;
    border: 2px lightgray outset;
    border-radius: 20px;
    box-sizing: border-box;
    line-height: 1.2em;
}

@media (max-width:1050px) {
    .box-2{
        width: 100%;
        float:none;
    }
}

.box-company-logo{
    width: 30%;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.box-company-logo img{
    alt: "Company Logo";
    width: 60%;
    height: auto;
}

#main-header{
    background-color: dimgray;
    color: white;
    position: sticky;
}

#navbar{
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
}

ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}

#navbar a:hover{
  color:gainsboro
}

#navbar a:active{
  color:slategray
}

#showcase{
    background-image: url(../images/bg.jpg);
    background-position: bottom right ;
    background-attachment: fixed ;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
  color: #fff;
  font-size: 70px;
  line-height: 1.6em;
  padding-top: 200px;
}

#showcase p{
  color: #fff;
  font-size: 35px;
  line-height: 1.6em;
  padding-top: 0px;
  padding-bottom: 150px;
}

#experience {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#experience h1{
    font-size: 40px;
}

#project {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#project h1{
    font-size: 40px;
}

#info{
    background: dimgray;
    color: #fff;
    padding:10px;
    text-align: center;
}

#info a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#info a:hover{
  color:gainsboro
}

#info a:active{
  color:slategray
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 10px;

}
